#output {
  font-family: monospace;
  white-space: pre;
  /* background: #0b0b0b; */
  /* color: #ddd; */
  /* padding: 10px; */
  overflow-y: auto;
}

div{
    border-radius: 24px;
    -electron-corner-smoothing: system-ui;
    background: white;
    padding: 10px;
    
}

.terminal-output{
    
    color:rgb(15, 15, 15);
    padding:10px 20px;
    height:80vh;
    overflow:auto;
    

    &::-webkit-scrollbar{
        display: none;
    }
    scrollbar-width: none;
}
.terminal-input{
    width:90%;
    padding:10px;
    border: 0px transparent;
}

input.terminal-input:focus{
    border: none;
    outline: none;
    border-color: transparent;
    box-shadow: none;
}
